[submodule "Kha"]
	path = Kha
	url = https://github.com/Kode/Kha.git
	branch = master
[submodule "Libraries/heaps"]
	path = Libraries/heaps
	url = https://github.com/Kha-Samples/heaps.git
	branch = master
[submodule "Libraries/format"]
	path = Libraries/format
	url = https://github.com/Kha-Samples/format.git
	branch = master
